html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}


.logo, .detail {
    display: inline-block;
    color: gray;
    vertical-align: top;
}

.logo {
    position: relative;
    margin-right: 1rem;
}

.logo .badge {
    position: absolute;
    bottom: -1rem;
    left: 27%;
    width: 5rem;
    background-color: white;
    color: gray;
}

.detail {
    font-weight: bold;
}

.detail .description {
    font-size: 2rem;
}

.detail .point {
    font-size: 4rem;
    color: #176ca5;
}

#other-info {
    margin-left: 15px;
    margin-right: 15px;
}

#rankings .well {
    padding: 0;
}

#rankings .header {
    padding: 2rem 4rem;
}

#rankings .header .logo {
    width: 5rem;
    height: 5rem;
    color: grey;
    border: 4px solid white;
    background-color: darkgrey;
}

#rankings .header .logo img {
    width: 65%;
    height: 65%;
    margin: 20%;
}

#rankings .even {
    background-color: #d5d5d5;
}

#rankings .odd {
    background-color: #f5f5f5;
}

#rankings .list-group-item {
    font-size: 2rem;
}

#rankings .list-group-item img {
    width: 20%;
}

#rankings .list-group-item .avatar {
    width: 56px;
    display: inline-block;
    height: 56px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #565b61;
    color: white;
    line-height: 56px;
}

#rankings .list-group-item .text-right {
    padding: 1rem;
}

#rankings .active {
    background-color: #e6f3fb;
    color: #1c6a9a;
    border: 0;
}

#about .header {
    margin-bottom: 2rem;
}

#about .header img {
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
}

#about .header .title {
    color: #616475;
    display: inline-block;
    font-weight: 600;
}

#about p {
    color: gray;
}

.main {
    padding-left: 3rem;
    padding-top: 2rem;
}

.main .well {
    padding:0;
    background-color: white;
}

.main .well h2 {
    margin: 0;
    padding: 4rem 3rem;
    color: #616475;
    font-weight: bolder;
}

.main .banner {
    width: 100%;
    height: 16rem;
    background-image: url("/../images/activity-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main .content {
    padding: 4rem;

}

.main .content .date {
    font-size: 2rem;
    font-weight: bold;
}

.main .content h1 {
    margin-top: 0;
    margin-bottom: 3rem;
    font-weight: bold;
}

.main .content p {
    font-size: 2rem;
}

.main .content .hint-block {
    margin-bottom: 3.5rem;
}

.main .content .input-group {
    width: 30%;
}

.collapse.in {
    display: block!important;
}

@media(max-width:1000px) {
    .main .content .input-group {
        width: 50%;
    }
}

@media(max-width:768px) {
    #user .well {
        margin-bottom: 0;
    }
    .main {
        padding-top: 0;
        padding-left: 15px;
    }
    #other-info {
        display: none;
    }
}

@media(max-width:500px) {
    .main .content .input-group {
        width: 70%;
    }
}